
* {
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

/* Подключаем шрифт 
@font-face {
    font-family: arialMT;
    src:url(ArialMT.ttf);
  }*/


body, html {
	color:#9fa3a7;
	font-size:100%;
	font-weight: 400;
	font-family: sans-serif, serif;
}

.main__body {
	background-color:#f1f1f1;
	color: #32393d;
	margin: 0 auto;
	font-family: arialMT, sans-serif;
}

a {
	text-decoration: none;
}

.wrapper {
	position:relative;
	margin:0 auto;
	width:70rem;
	height:50rem;
}
.footer {
	position:absolute;
	bottom: 0;
	left:0;
	width:100%;
	height: 12rem;
}

/* Header-модального---------------------------------*/
.trek {
	width:750px;
	height:10rem;
	margin:0 auto;
	clear:both;
	padding-top:80px;
	padding-left: 12px;
}

.trek__box {
	list-style: none;
	float:left;
	margin-right: 232px;
}

.trek__box:last-child {
	margin-right: 0;
}

.trek__name, .total__name {
	position:absolute;
	text-align:center;
	letter-spacing: 2.4px;
	width:100px;
	float:left;
	color:#9fa3a7;
	margin-left:-50px;
	font-size: 0.625rem;
}

.trek__href {
	position:relative;
	text-decoration:none;
	color:#ffffff;
	font-size:0.75rem;
	line-height: 30px;
	cursor: default;
	z-index: 0;
}

.trek__href::before {
	content: '';
	display: block;
	width: 30px;
	height: 30px;
	border-radius:15px;
	position:absolute;
	z-index: -1;
	margin-left: -12px;
	background-color: #ffc80a;
	text-align:center;
}

.trek__box::after { /*линия после кругляка*/
	content:'';
	display:block;
	position:absolute;
	margin-top:-15px;
	background-color: #ffc80a;
	margin-left: -222px;
	width:210px;
	height:2px;
	z-index: -2;
	cursor:default;
}
.trek__box:first-child::after {
	content:'';
	display:none;
} 

/*перекрытие ссылок*/
.trek__box::before {
	content: '';
	display: block;
	width: 100px;
	height: 100px;
	margin:-50px 0 0 -50px;
	position:absolute;
	z-index: 1;
}


.trek__box_enabled .trek__href::before {
	color:#ffffff;
	line-height: 30px;
	background-color: #ed1b2f;
	z-index: 0;
	content:'✓'; //✔
}

.trek__box_enabled::after,
.trek__box_active::after,
.trek__box_enabled .trek__href::before,
.trek__box_active .trek__href::before
{
	background-color: #ed1b2f;
}

.trek__box_active.trek__box::before,
.trek__box_enabled.trek__box::before {
	z-index: -22;
} 


.trek__box_enabled .trek__name,
.trek__box_active .trek__name
 {
	color:#212121;
}

.trek__box_enabled .trek__href,
.trek__box_active .trek__href{
	cursor:pointer;
}


/* Таблица-----------------------------------*/
.table {
	width:100%;
	border-collapse:collapse;
	color:#212121;
}

.table__rows, .table__head{
	border-bottom: 1px solid #e8e9ed;
}
.table__rows {
	height:10rem;
}

.table__head{
	height:50px;
	font-size:0.625rem;
}

.table__column_first {
	font-size:1.375rem;
	color: #2c2c2c;
}

.table__delete {
	width:14px;
	height:14px;
	cursor: pointer;
}


/* ИТОГО-----------------------------------*/
.total {
	font-size: 1.5rem;
	margin-top:53px ;
	margin-left:610px;
	display: inline-block;
}

.total__cent {
	color:#9fa3a7;
	font-size: 1.1875rem;
	vertical-align: top;
}

.total__name { /* см. trek__name*/
 	display: inline-block;
 	margin:0;
 	text-align: left;
}

.total__price {
	color:#292929;
	position:absolute;
	width:100px;
	margin-top:10px;
}

/* кнопка-------------------------------------*/
.button {
	border-radius: 24px;
	font-size: 0.75rem;
	height: 48px;
	border:none;
	cursor: pointer;
}

.button__forward{
	color:#ffffff;
	clear: both;
	display: inline-block;
	width:167px;
	background-color: #ed1b2f;
	float:right;
	margin-right: 10rem;
	margin-top: 56px;
}

.button__back {
	margin-top: 56px;
	margin-left: 10rem;
	color:#4e4e4e;
	background-color:#ffffff;
	width:190px;
	border: solid 2px #d8d8d8;
}

.button_letter-spasing {
	letter-spacing: 2.4px;
}

.button__back_font-size-14 {
	font-size: 0.875;
}

.button__final {
	display: block;
	margin:56px auto 0;
	color:#212121;
	background-color:#ffffff;
	width:188px;
	border: solid 3px #ffc80a;
}

.button__app {
	display: block;
	margin:19px auto 0;
	font-size: 1.25rem;
	color: #ed1b2f;
	background-color:#ffffff;
	width:188px;
	border: solid 1px #ed1b2f;
}

/* Radio способ оплаты------------------------------------*/
.radio {
	display: none;
}

.check {
	clear: both;
	width: 300px;
	height: 30px;
	padding-left: 55px;
	margin:9px auto 0 auto;
}

.radio__value {
	display: inline-block;
	width:150px;
	height: 30px;
	font-size: 0.75rem;
	text-align: center;
	cursor:pointer;
}

.check__label {
	float:left;
	margin-left: -40px;
}

.radio:checked +.radio__view::after{
	content:'';
	display:block;
	width:150px;
	height: 30px;
	position:absolute;
	margin-top:-9px;
	border-radius: 15px;
	border:2px solid #ffc80a;
}

.radio:checked ~.radio__value {
	color:#212121;
}

/*карта-------------------------*/
.card {
	width: 430px;
	height: 260px;
	border: 2px solid #d8d8d8;
	border-radius: 5px;
}

.card__front {
	position:relative;
	left:252px;
	top:40px;
	background-color: #ffffff;
}

.card__outside {
	position:relative;
	left:368px;
	top:-180px;
	margin-bottom: -180px;
	background-color:  #fafafa;
	z-index: -1;
}

.card__magnit {
	margin-top: 35px;
	width: 100%;
	background-color: #e8e9ed;
	height: 39px;
}

.card__text-box {
	clear: both;
	display: block;
	float:right;
	width:77px;
	margin-top: 9px;
	margin-right: 26px;
	line-height: 1.83;
  	letter-spacing: normal;
  	color: #c8c8c8;
  	font-size: .75rem;
}

.card__figure {
	position:absolute;
	top:32px;
	right:32px;
	margin:0;
}

.card__master {
	display:block;
}

.card__visa {
	display: block;
	padding-top:22px;
}
/*------------------------------------*/

.input {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
	background-color: #fafafa;
	border:1px solid #e6e6e6;
	height: 46px;
	display: block;
	padding-left: 19px;
	border-radius: 5px;
}


.input__card-number {
	width: 248px;
	margin-top: 32px;
	margin-left: 25px;
}

.input__card-date {
	float:left;
	width: 115px;
	margin-top:19px;
	margin-bottom: 42px;
}

.input__card-date_position_left {
	margin-left: 25px;
}
.input__card-date_position_right {
	margin-left: 18px;
}

.input__card-name {
	clear: both;
	width: 370px;
	margin-left: 25px;

}

.input__card-cvv {
	width: 76px;
	margin: 20px 27px 0 0;
	float:right;
	background-color: #ffffff;
}

.input__contact_left {
	width: 320px;
	margin-right: 18px; 
	float:left;
}

.input__contact_right {
	width: 302px;
	margin-bottom: 19px;
}

/*-3 страница-модального--------------------------*/

.contact {
	padding-left: 80px;

}

.contact__head {
	display: block;
	font-size: 0.875rem;
	letter-spacing: 2.8px;
	margin-bottom: 38px;
}


/*4 страница --модального-----------------------*/

.final__ico {
	position:relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
	margin:0 auto;
	width: 80px;
	height: 80px;
	border:3px solid #ffc80a;
	border-radius: 40px;
}

.final__ico:before {
	content:'';
	display:block;
	width:40px;
	height: 4px;
	background-color: #ffc80a;
	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    bottom: 35px;
    left:27px;
}

.final__ico:after {
	content:'';
	display:block;
	width:20px;
	height: 4px;
	background-color: #ffc80a;
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    bottom: 30px;
    left: 16.3px;
}

.final__text-box {
	display: block;
	text-align: center;
}

.final__text-box_big {
	color: #212121;
	font-size: 2.25rem;
	line-height: 1.33;
	margin: 30px 0 40px 0;
}

.final__text-box_small {
	font-size: 0.875rem;
	line-height: 1.86;
}
/* Главная страница----------------------*/


.main__hover_red:hover {
	color:#ed1b2f;
	cursor:pointer;
}
.main__hover_underline:hover {
	text-decoration: underline;
}



/*--------Header-------*/
.header {
	background-color:#ffffff;
	min-width:73.75rem;
	max-width:100%;
	height:6.5rem;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
	padding:22px 0 22px 0;
	font-size:1.125rem;
}

.header__box {
	margin:0 auto;
	width:73.75rem;
	height:100%;
	vertical-align:middle;
}

.header__logo {
	display:inline-block;
	float:left;
	height:100%;
	vertical-align:middle;
}

.header__nav {
	height:100%;
	float:right;
	vertical-align:middle;
}

.header__href {
	color:#adafb2;
	display:inline-block;
	padding-left:2.5rem;
	line-height:3.75rem;
}
	
.search__box {
	float:right;
	position: relative;
	display: inline-block;
	margin-left: -14rem;
	margin-top: -.25rem;
	width:14rem;
	height: 2rem;
}

.search {
	display:block;
	position:absolute;
	border-radius: 2rem 0 0  2rem;
	border: 1px solid #d9d9d9;
	border-right: none;
	height: 2rem;
	width: 12rem;
}
.search:focus {
	outline: none;
}
.search__loupe {
	position:absolute;
	right:0;
	height: 2rem;
	width: 2rem;
	border-radius: 0 2rem 2rem 0;
	border: 1px solid #d9d9d9;
	border-left: none;
	background: url(img/loupe.svg);
	background-size: 1rem 1rem;
	background-repeat: no-repeat;
	background-position-y:.5rem;
	//background-position-x:.5rem;
}


/*Text Заголовок 1*/
.title{
	color: #32393d;
	width:100%;
	float:left;
	display: inline-block;
}

.title:after {
	content:'';
	display:block;
	width:100%;
	height: 1px;
	background-color: #d8d8d8;
	position:relative;
	margin:18px 0 19px 0;
	font-size:1.375rem;
}

.title__size_big {
	font-size: 1.5rem;
}

.title__size_med {
	font-size: 1.375rem;
}

.title__size_smal {
	font-size: 1.125rem;
}

.title__aside {
	color:#32393d;
	font-size: 1.5rem;
}

.figcaption {
	display: block;
	color:#32393d;
	padding-top:17px;
}

.container {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
	width:73.75rem;
	margin:50px auto auto;
}

.container__main {
	padding:46px 63px 63px 63px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.18);
	background-color:#ffffff;
}

.container__aside {
	float:left;
	width: 23.375rem;
	height: 55.25rem;
	padding:43px 30px 0 17px;
	background-color: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.container__content {
	position: relative;
	float:right;
	background-color: #ffffff;
	width: 48.25rem;
	min-height: 55.25rem;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.18);
	padding:46px 41px 25px;
}

.row-3col {
	margin-left:-34px;
	padding-top:26px;
	height: auto;
}


.col3 {
	width:33.33%;
	padding-left:34px;
	float:left;
}

.row-2col {
	margin-left:-42px;
	padding-top:63px;
	height: auto;
}


.col2 {
	width:50%;
	padding-left:42px;
	float:left;
}


.clearfix:after {
    content: ""; 
    display: block; 
    clear: both; 
}


.shot__baground_shot1 {
	background: url(../img/shot-1.png);
}

.shot__baground_shot2 {
	background: url(../img/shot-2.png);
}
.shot__baground_shot3 {
	background: url(../img/shot-3.png);
}
.shot {
	background-position:center;
	background-size: cover;
}

.shot__size_big {
	width:250px;
	height: 188px;
}

.shot__size_med {
	width:100%;
	height: 196px;
}

.shot__size_small {
	height: 60px;
	width: 80px;
}


.time {
	display: block;
	color: #adafb2;
}

.time_small {
	font-size: 0.8125rem;
}

.expand {
	float:right;
	position:absolute;
	vertical-align: middle;
	margin:4px 0 0 -8px;
	display: inline-block;
	background-image: url(img/expand.svg);
	background-size: cover;
	width:8px;
	height: 13px;
}
.mess {
	padding-top: 30px;
}
.article {
	padding-left: 17px;
	float: left;
	font-size: 1.25rem;
	color: #4d5762;
	line-height: 1.5;
}

.article__string_buttom {
	display: block;
	color: rgba(96, 106, 117, 0.6);
	cursor: pointer;
}

.work-icon {
	background: url(img/work-icon.svg);
	background-size: 21px 15px;
	background-repeat: no-repeat;
	background-position-y:.25rem; 
	width:21px;
	height: 3rem;
	float:left;
}

.education-icon {
background: url(img/education-icon.svg);
	background-size: 21px 15px;
	background-repeat: no-repeat;
	background-position-y:.25rem; 
	width:21px;
	height: 3rem;
	float:left;
}
/*----------- список маркированный--*/

.aside__list {
	list-style:disc;
	list-style-position: inside;
	font-size: 1.25rem;
	line-height: 2;
	color: #79878e;
}

.aside__href {
	color: inherit;
	display: inline-block;
	/* /margin-left: 1rem;*/
}

.aside__list:nth-child(2n) {
	color:#8c999f;
}



/*----------- content --------------*/
.container__content-head .title::after {
	display: none;
}

.content-table {
	border-collapse: collapse;
	width: inherit;
	margin: 41px 0 0 -41px;
	text-align: left;
}


.content-table__row-head {
	height: 35px;
	font-size: .875rem;
  	line-height: 0.92;
  	color: #414141;
  	background-color: #f1f1f1;
}

.content-table__photo{
	width:8.5rem;
	padding-left: 35px;
}

.content-table__name{
	color: #79878e;
}


.content-table__desc{
	width:20rem;
	color: #5f5f5f;
	font-size: .8125rem;
}

.content-table__price{
	width:6.375rem;
	color:#5f5f5f;
	font-size: 1.125rem;
}
.content-table__row {
	height: 5rem;
}

.content-table__row:nth-child(odd) {
	background-color: #f7f7f7;
}

.content__box-left {
	width: 27.5rem;
	float:left;
	color:#79878e;
	font-size: 1.25rem;
	line-height: 1.25;
}

.span__color_darkgrey {
	color:#4f5659;
}

.text {
	padding-top: 15px;
}

.content__box-right {
	float:right;
}

.content__box {
	padding-top: 35px;
}

.content__list {
	margin-left: 1.125rem;
	clear: both;
	font-size: 1.125rem;
	padding-top: 2rem;
	line-height: 1.72;
  	color: #4d5762;
}